@{
	if (Session["Username"] == null)
	{
		Response.Redirect("~/Admin/");
	}
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@*@Styles.Render("~/Content/css/Back-end")*@
	<link rel="icon" href="~/Content/Back-end/dist/img/logo.png" type="image/x-icon">
	<link rel="stylesheet" href="~/Content/AdminLTE3/plugins/font-awesome/css/font-awesome.min.css">

	<link rel="icon" href=".~/Content/AdminLTE3/assets/img/icon.ico" type="image/x-icon" />

	<!-- Fonts and icons -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: { "families": ["Lato:300,400,700,900"] },
			custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['~/Content/AdminLTE3/assets/css/fonts.min.css'] },
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>
	<link rel="stylesheet" href="~/Content/AdminLTE3/assets/css/fonts.min.css">
	<!-- CSS Files -->
	<link rel="stylesheet" href="~/Content/AdminLTE3/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="~/Content/AdminLTE3/assets/css/atlantis.min.css">

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link rel="stylesheet" href="~/Content/AdminLTE3/assets/css/demo.css">
	<link href="~/Content/AdminLTE3/plugins/Spin/spin.css" rel="stylesheet" />
	<link href="~/Content/AdminLTE3/assets/css/preloader.css" rel="stylesheet" />
</head>
<body data-ng-app="MyApp">

	<div class="wrapper">
		<div class="main-header">
			@RenderPage("../AdminLTE3/_Logo.cshtml")
			@RenderPage("../AdminLTE3/_HeaderLTE.cshtml")
		</div>
		<div class="sidebar sidebar-style-2">
			@RenderPage("../AdminLTE3/_SidebarLTE.cshtml")
		</div>
		<div class="main-panel">
			<div class="content">

				<!--
				Start Preloader
				==================================== -->
				<div id="preloader">
					<div class="preloader">
						<div class="sk-circle1 sk-child"></div>
						<div class="sk-circle2 sk-child"></div>
						<div class="sk-circle3 sk-child"></div>
						<div class="sk-circle4 sk-child"></div>
						<div class="sk-circle5 sk-child"></div>
						<div class="sk-circle6 sk-child"></div>
						<div class="sk-circle7 sk-child"></div>
						<div class="sk-circle8 sk-child"></div>
						<div class="sk-circle9 sk-child"></div>
						<div class="sk-circle10 sk-child"></div>
						<div class="sk-circle11 sk-child"></div>
						<div class="sk-circle12 sk-child"></div>
					</div>
				</div>
				<!--
				End Preloader
				==================================== -->


				@RenderBody()
				<div ng-view></div>
			</div>
			<footer class="footer">
				@RenderPage("../AdminLTE3/_Footer.cshtml")
			</footer>
		</div>
		@RenderPage("../AdminLTE3/_ControlSidebar.cshtml")
	</div>

	@*@Scripts.Render("~/bundles/javascript/Back-end")*@
	<!-- jQuery -->
	<!--   Core JS Files   -->
	<script src="~/Content/AdminLTE3/assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="~/Content/AdminLTE3/assets/js/core/popper.min.js"></script>
	<script src="~/Content/AdminLTE3/assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="~/Content/AdminLTE3/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>


	<!-- Chart JS -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="~/Content/AdminLTE3/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Sweet Alert -->
	<script src="~/Content/AdminLTE3/assets/js/plugin/sweetalert/sweetalert.min.js"></script>

	<!-- Atlantis JS -->
	<script src="~/Content/AdminLTE3/assets/js/atlantis.min.js"></script>

	<!-- Atlantis DEMO methods, don't include it in your project! -->
	<script src="~/Content/AdminLTE3/assets/js/setting-demo.js"></script>

	<script src="~/Content/AdminLTE3/assets/js/Loader.js"></script>

	<!--Angular js-->
	<script src="~/Scripts/Angularjs/lib/angular.js"></script>
	<script src="~/Scripts/Angularjs/lib/angular-route.js"></script>
	<script src="~/Scripts/Angularjs/MyApp.js"></script>
	<!---->

	<script>
		Circles.create({
			id: 'circles-1',
			radius: 45,
			value: 60,
			maxValue: 100,
			width: 7,
			text: 5,
			colors: ['#f1f1f1', '#FF9E27'],
			duration: 400,
			wrpClass: 'circles-wrp',
			textClass: 'circles-text',
			styleWrapper: true,
			styleText: true
		})

		Circles.create({
			id: 'circles-2',
			radius: 45,
			value: 70,
			maxValue: 100,
			width: 7,
			text: 36,
			colors: ['#f1f1f1', '#2BB930'],
			duration: 400,
			wrpClass: 'circles-wrp',
			textClass: 'circles-text',
			styleWrapper: true,
			styleText: true
		})

		Circles.create({
			id: 'circles-3',
			radius: 45,
			value: 40,
			maxValue: 100,
			width: 7,
			text: 12,
			colors: ['#f1f1f1', '#F25961'],
			duration: 400,
			wrpClass: 'circles-wrp',
			textClass: 'circles-text',
			styleWrapper: true,
			styleText: true
		})

		var totalIncomeChart = document.getElementById('totalIncomeChart').getContext('2d');

		var mytotalIncomeChart = new Chart(totalIncomeChart, {
			type: 'bar',
			data: {
				labels: ["S", "M", "T", "W", "T", "F", "S", "S", "M", "T"],
				datasets: [{
					label: "Total Income",
					backgroundColor: '#ff9e27',
					borderColor: 'rgb(23, 125, 255)',
					data: [6, 4, 9, 5, 4, 6, 4, 3, 8, 10],
				}],
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				legend: {
					display: false,
				},
				scales: {
					yAxes: [{
						ticks: {
							display: false //this will remove only the label
						},
						gridLines: {
							drawBorder: false,
							display: false
						}
					}],
					xAxes: [{
						gridLines: {
							drawBorder: false,
							display: false
						}
					}]
				},
			}
		});

		$('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
			type: 'line',
			height: '70',
			width: '100%',
			lineWidth: '2',
			lineColor: '#ffa534',
			fillColor: 'rgba(255, 165, 52, .14)'
		});
	</script>

	@RenderSection("Myscripts", required: false)
	<script>
		$(function () {
			$('#AlertBox').removeClass('hide');
			$('#AlertBox').delay(5000).slideUp(1000);

		});
	</script>

</body>
</html>
