@*@{
	if (Session["ID_TaiKhoan"] == null)
	{
		Response.Redirect("~/admin/");
	}
}*@

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css/Back-end")
	<link rel="icon" href="~/Content/Back-end/dist/img/logo.png" type="image/x-icon">
</head>
<body>

	<div id="wrapper">
		<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
			@RenderPage("../Block/_Header.cshtml")
			@RenderPage("../Block/_Sidebar.cshtml")
		</nav>
		<div id="page-wrapper">
			@RenderBody()
		</div>
	</div>

	@Scripts.Render("~/bundles/javascript/Back-end")
	@RenderSection("Myscripts", required: false)
	<script>
        $(function () {
            $('#AlertBox').removeClass('hide');
            $('#AlertBox').delay(5000).slideUp(1000);

        });
	</script>
</body>
</html>
